<hr>
<h1>Questions and Answers</h1>
<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
<hr>
<ul>
  {{#each model as |question|}}
    <li>
      Question: {{question.content}}
      Author: {{question.user}}
      {{question.notes}}
      {{update-question question=question update="update"}}
    </li>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
