<hr>
<ul>
  {{#each model as |question|}}
    <li>
      {{#link-to 'question' question.id}}
      Question: {{question.content}}
      Author: {{question.user}}
      {{question.notes}}
      {{/link-to}}
      {{update-question question=question update="update"}}
    </li>
    <hr>
  {{/each}}
</ul>

{{new-question saveQuestion="saveQuestion"}}
